@{
    ViewBag.Title = "Arkaham";
}

<div class="jumbotron">
    <h1>Siemens </h1>
    <p class="lead">WEB Development Service.</p>
    <p><a href="https://www.siemens.com" class="btn btn-primary btn-lg">Digital Solutions &raquo;</a></p>
</div>

